
.box {
    width: 350px;
    height: 350px;
    border: 25px;
    margin: 25px;
    background-color: aqua;
}
footer {
    width: 400px;
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: last baseline;
    
}